@import "../../../node_modules/react-image-gallery/styles/css/image-gallery.css";

.experience {
  background: rgb(229, 234, 236);
  width: 100%;
  /* height: 100vh; */
}

.experience-container {
  /* height: 100%; */
  width: 85%;
  margin: 0 auto;
  margin-top: 7%;
  padding-top: 5%;
  display: flex;
  justify-content: center;
}

.eperience-skills {
  /* background: yellow; */
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-text {
  font-size: 3.5em;
}

.skills-title {
  width: 100%;
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
  text-decoration-line: underline;
  margin-left: 12%;
}

.skills-text {
  font-size: 1.3em;
  text-align: center;
  margin: 0 10%;
}

.projects-container {
  /* background: orange; */
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-title {
  font-size: 2.3em;
}

.project-description {
  width: 80%;
  font-size: 1.5em;
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-gallery {
  max-width: 80%;
  margin: 10%;
}

@media (max-width: 500px) {
  .experience-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }

  .eperience-skills {
    width: 100%;
  }

  .project-container {
    width: 100%;
  }
}
